@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-icon-container {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill-icon-container:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .skill-name {
    font-size: 1.25rem;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .skill-icon-container:hover .skill-name {
    opacity: 1;
    visibility: visible;
  }
  
  html {
    scroll-behavior: smooth;
  }
  